@model IEnumerable<Airlines.ViewModels.PlaatsVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/Aanbiedbestemmingen.css" asp-append-version="true" />
<div class="blokPagina">
    <h1>Alle bestemmingen:</h1>
    <p class="subtitelMaaltijd">Subtitel</p>
    <div class="alleMaaltijdenBlok">
        
        @foreach (var item in Model)
        {
            <div class="maaltijdKaart">
                <img src="/images/bestemmingen/@(item.Naam + ".jpg")" alt="@item.Naam" />
                <div class="inhoudVanMaaltijd">
                    <h4>@item.Naam</h4>
                    <p>Een descriptie</p>
                </div>
            </div>
        }
        
    </div>
</div>