body {
    background-color: #f0f0f0; /* Light gray background */

    color: #333; /* Dark gray text */

    font-family: Arial, sans-serif;
}


.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White background for the form */

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #000; /* Black title */
}


h2 {
    text-align: center;
    color: #555; /* Dark gray subtitle */
}


.form-group {
    margin-bottom: 15px;
}


.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */

    border-radius: 4px;
    transition: border-color 0.3s;
}


    .form-control:focus {
        border-color: #000; /* Black border on focus */

        outline: none;
    }


label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Dark gray label */
}


.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #AFDBF5; /* Blue button */

    color: #fff; /* White text */

    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}


    .btn-submit:hover {
        background-color: #444; /* Darker gray on hover */
    }


.text-danger {
    color: red; /* Red for validation errors */
}
