body {
    font-family: system-ui, sans-serif;
    background: #e8f7fc;
    margin: 0;
    padding: 2rem;
    color: #2c3e50;
}

.blokPagina {
    max-width: 1200px;
    margin: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}
.shoppingCartTabel {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.shoppingCartTabel th, .shoppingCartTabel td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
    .shoppingCartTabel th {
        background-color: #a3d6f1;
        color: #003d66;
    }
     .shoppingCartTabel td input{
        border:none
    }
#txtTotal {
    background-color: #e8f7fc;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.deleteBtn {
    background: none;
    border: none;
    color: #c00;
    cursor: pointer;
    font-size: 18px;
}

.totaalStukje {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkoutKnop {
    padding: 10px 20px;
    background-color: #66c2ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.checkoutKnop:hover {
    background-color: #33aaff;
}