@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<p>Please confirm your email , we've send an email to your account... this may appear in the spam folder.</p>

