@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welkom bij Gilwe Airlines !</h1>
    <p>Bij ons kunt u terecht voor het boeken van vluchten tegen een voordelig tarief.</p>
    <h2>Onze missie</h2>
    <p>Wij bieden jullie een top service aan zonder veel vertraging als bij TUI, alsook bieden wij u geen stakingen aan als bij NMBS.</p>
    <h2>Wat is mogelijk bij ons ?</h2>
    <p>
        Bij ons kunt u niet enkel uw vlucht boeken. <br />
        U kunt ook al uw hotel boeken bij uw vlucht, wij stellen enkele hotels voor na het selecteren van uw bestemming.
    </p>
</div>
